<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<div class="container">
  <p>mermaid graphs can be made interactive with
    some simple markup. Clicking on the nodes causes
    mermaid to call a global function. Below is the
    mermaid markup which creates a flowchart with two
    nodes, both of which call the same click handler function. The
    syntax is just the keyword &quot;click&quot;
    followed by the node ID, the name of the
    function to call and a tooltip in quotes.</p>

  <pre>
    <code ngNonBindable>
      &lt;div class="mermaid"&gt;
        graph TB
        A-->B[B: This{{ '<' }}br>is{{ '<'}}br>filled{{'<'}}br>with{{'<'}}br>br-s]
        click A functionToCallIntoAngular "give it a try"
        click B functionToCallIntoAngular "it's fun to click!"
      &lt;/div&gt;
    </code>
  </pre>

  <p>Although you
    could create the function using script tags in
    the html, in this demo
    the angular component creates the function
    without html. Clicks on both nodes
    call the same method (passing in the svg node id
    as a parameter, which is how the count is incremented
    for different nodes),
    but you could have each node click call a
    different function instead.</p>

  <div class="d-flex align-items-center flex-column">
    <div class="card border-3 border-dark" style="width:40rem">
      <div class="card-body">
        <h3 class="card-title text-center">Sample Mermaid Flowchart Linked to Angular</h3>
        <div class="d-flex align-items-center flex-column">
          <p>Count of clicks on A = {{count}}</p>
          <p>Count of clicks on B = {{countB}}</p>
          <app-mermaid-flow (nodeClicked)="increment($event);"></app-mermaid-flow>
        </div>
      </div>
    </div>
  </div>
  <h2>Other workarounds</h2>
  <p>In the source you see that instead of putting in &lt;br&gt;, I have put in <span ngNonBindable>&#123;&#123;&apos;&lt;&apos;&#125;&#125;br</span>&gt;. 
    If you put in the correct raw html, angular finds and changes it. mermaid doesn&apos;t recognize the changed version.</p>
  <h2>Older versions of libraries won't work.</h2>
  <p>This demo uses mermaid 8.2.5. Previous versions, in particular mermaid 8.2.3, had a bug and could not hook
    up events.
  </p>
  <p>This demo also uses @types/mermaid 8.2.0. Again previous versions are missing type information added in mermaid 8.2.</p>
</div>
